@{
    ViewData["Title"] = "Game Page";
}
@section scripts
{
    <!--stylesheets-->
    <link rel="stylesheet" type="text/css" href="~/css/index.css" />
    <script src="~/js/index.js" type="text/javascript"></script>
    <script>
        function getGameIdFromUrl() {
            let id = window.location.href.split("id=")[1].split("&")[0]

            console.log("game id: ", id);

            return Number.parseInt(id)
        }

        function getParamFromUrl(param) {
            let par = window.location.href.split(param + "=")[1].split("&")[0]

            return par
        }

        function updateTurn() {
            //get the current turn information
            $.get("/Home/MyTurn?gameId=" + getParamFromUrl("id") + "&playerId=" + getParamFromUrl("playerId"), function (data) {
                let result = JSON.parse(data);
                if (result.myTurn == 1) {
                    document.getElementById("myTurnH2").innerHTML = "It is your turn!";
                } else {
                    document.getElementById("myTurnH2").innerHTML = "It is not your turn.";
                }
            })
        }

        $(document).ready(function () {
            initGrid(document.getElementById("gridCanvas"))
            $.post("/Home/Attack?gameId=" + getParamFromUrl("id"), function (data) {
                let result = JSON.parse(data);
                let shipList = result.board
                //drawShips(document.getElementById("gridCanvas"), shipList)

               updateSunk(shipList)

            })

            updateTurn()

            setInterval(updateTurn, 500)
        });

        function updateSunk(shipList) {
            let statusTable = document.getElementById("targetStatusTable")

            //remove all but the first child of table
            while (statusTable.childElementCount > 1) {
                statusTable.removeChild(statusTable.lastChild)
            }

            let allSunk = true
            for (i in shipList) {
                let tr = document.createElement("tr")
                let td = document.createElement("td")
                td.innerHTML = shipList[i].Name
                tr.appendChild(td)
                td = document.createElement("td")
                if (shipList[i].Sunk == true) {
                    td.innerHTML = "Sunk"
                } else {
                    allSunk = false
                    td.innerHTML = "Not sunk"
                }
                tr.appendChild(td)

                statusTable.appendChild(tr)
            }

            if (allSunk) {
                $("#resultsH2").text("Victory!")
            }
        }



        function fire(gridCanvasId, x, y) {
            let grid = getGridSquareAt(gridCanvasId, x, y)

            $.post("/Home/Attack?x=" + grid.gridX + "&y=" + grid.gridY + "&gameId=" + getGameIdFromUrl(), function (data) {
                let result = JSON.parse(data);

                //check for hit or miss
                if (result.hit == 1) {
                    $("#resultsH2").text("Hit!")
                    drawMarker(document.getElementById("gridCanvas"), grid.gridX, grid.gridY, "#ff0000")
                } else {
                    $("#resultsH2").text("Miss.")
                    drawMarker(document.getElementById("gridCanvas"), grid.gridX, grid.gridY, "#ffffff")
                }

                updateSunk(result.board)
            })

            $.post("/Home/ChangeTurn?gameId=" + getParamFromUrl("id"))
        }


    </script>
}
@model BattleshipModel

<div class="text-center">
    <canvas id="gridCanvas" width="640" height="480" onclick="fire('gridCanvas', event.clientX, event.clientY)">
        <p>Your browser doesn't support this feature! Please update to the latest version of Chrome or Firefox.</p>
    </canvas>

    <h2 id="myTurnH2">Getting turn information...</h2>
    <br />
    <h2 id="resultsH2">Click on the grid to attack!</h2>
    
    <br />
    <br />

    <table id="targetStatusTable" style="margin: auto; width: 50%;">
        <tr>
            <td><b>Target Name</b></td><td><b>Status</b></td>
        </tr>
    </table>

</div>