@{
    ViewData["Title"] = "Game Page";
}
@section scripts
{
    <!--stylesheets-->
    <link rel="stylesheet" type="text/css" href="~/css/index.css" />
    <script src="~/js/index.js" type="text/javascript"></script>
    <script>
        function getGameIdFromUrl() {
            let id = window.location.href.split("id=")[1].split("&")[0]

            console.log("game id: ", id);

            return Number.parseInt(id)
        }

        function getParamFromUrl(param) {
            let par = window.location.href.split(param + "=")[1].split("&")[0]

            return par
        }

        function updateTurn() {
            //get the current turn information
            if (document.getElementById("victory").value != "true") {
                $.get("/Home/MyTurn?gameId=" + getParamFromUrl("id") + "&playerId=" + getParamFromUrl("playerId"), function (data) {
                    let result = JSON.parse(data);
                    if (result.myTurn == 1) {
                        document.getElementById("myTurnH2").innerHTML = "It is your turn!";
                        document.getElementById("resultsH2").innerHTML = "Click on the grid to attack!"
                        document.getElementById("myTurn").value = "true"
                    } else {
                        document.getElementById("myTurnH2").innerHTML = "It is not your turn.";
                        document.getElementById("myTurn").value = "false"
                    }
                })
            }
        }

        $(document).ready(function () {
            initGrid(document.getElementById("gridCanvas"))
            $.post("/Home/GetShips?gameId=" + getParamFromUrl("id"), function (data) {
                let result = JSON.parse(data);
                //let shipList = result.board
                //drawShips(document.getElementById("gridCanvas"), shipList)

                updateSunk(result)

            })

            updateTurn()

            setInterval(updateTurn, 500)

            updateHits()

            setInterval(updateHits, 500)

            updateMisses()
            setInterval(updateVictory, 500)
        });

        function updateVictory() {
            $.post("/Home/CheckVictory?gameId=" + getParamFromUrl("id"), function (data) {
                let response = JSON.parse(data)

                if (response) {
                    //victory
                    document.getElementById("victory").value = "true"
                    document.getElementById("resultsH2").innerHTML = "Victory!"
                } else {
                    document.getElementById("victory").value = "false"
                }
            })
        }

        function setVictory(value) {
            $.post("/Home/SetVictory?gameId=" + getParamFromUrl("id") + "&value=" + value)
        }

        function updateSunk(shipList) {
            let statusTable = document.getElementById("targetStatusTable")

            //remove all but the first child of table
            while (statusTable.childElementCount > 1) {
                statusTable.removeChild(statusTable.lastChild)
            }

            let allSunk = true
            for (i in shipList) {
                let tr = document.createElement("tr")
                let td = document.createElement("td")
                td.innerHTML = shipList[i].Name
                tr.appendChild(td)
                td = document.createElement("td")
                if (shipList[i].Sunk == true) {
                    td.innerHTML = "Sunk"
                } else {
                    allSunk = false
                    td.innerHTML = "Not sunk"
                }
                tr.appendChild(td)

                statusTable.appendChild(tr)
            }

            if (allSunk) {
                $("#resultsH2").text("Victory!")
                //document.getElementById("victory").value = "true"
                setVictory(true)
            }
        }



        function fire(gridCanvasId, x, y) {
            if (document.getElementById("myTurn").value == "true" && document.getElementById("victory") != "true") {
                let grid = getGridSquareAt(gridCanvasId, x, y)

                $.post("/Home/Attack?x=" + grid.gridX + "&y=" + grid.gridY + "&gameId=" + getGameIdFromUrl() +
                    "&playerId=" + getParamFromUrl("playerId"), function (data) {
                        let result = JSON.parse(data);

                        //check for hit or miss
                        if (result.hit == 1) {
                            $("#resultsH2").text("Hit!")
                            drawMarker(document.getElementById("gridCanvas"), grid.gridX, grid.gridY, "#ff0000")
                        } else {
                            $("#resultsH2").text("Miss.")
                            drawMarker(document.getElementById("gridCanvas"), grid.gridX, grid.gridY, "#ffffff")
                        }

                        updateSunk(result.board)
                    })

                $.post("/Home/ChangeTurn?gameId=" + getParamFromUrl("id"))
            }
        }

        /* Scan the shiplist and place markers for every hit
         */
        function updateHits() {
            $.post("/Home/GetShips?gameId=" + getParamFromUrl("id"), function (data) {
                let canvas = document.getElementById("gridCanvas")

                let response = JSON.parse(data);
                
                for (k in response) {

                    let damageIndex = response[k]["DamageIndex"]
                    let hitPoints = response[k]["HitPoints"]

                    for (let i = 0; i < damageIndex.length; i++) {
                        if (damageIndex[i]) {
                            let hp = hitPoints[i];

                            drawMarker(canvas, hp[0], hp[1], "#ff0000")
                        }
                    }
                    
                }
            })
        }

        /* Update misses for the current player.
         */
        function updateMisses() {
            let canvas = document.getElementById("gridCanvas")
            let playerId = getParamFromUrl("playerId")
            let gameId = getParamFromUrl("id")

            $.post("/Home/GetMisses?gameId=" + gameId + "&playerId=" + playerId, function (data) {
                let response = JSON.parse(data);

                for (miss in response) {
                    drawMarker(canvas, response[miss][0], response[miss][1], "#ffffff")
                }
            })
        }


    </script>
}
@model BattleshipModel

<div class="text-center">
    <canvas id="gridCanvas" width="640" height="480" onclick="fire('gridCanvas', event.clientX, event.clientY)">
        <p>Your browser doesn't support this feature! Please update to the latest version of Chrome or Firefox.</p>
    </canvas>

    <h2 id="myTurnH2">Getting turn information...</h2>
    <br />
    <h2 id="resultsH2"></h2>

    <br />
    <br />

    <table id="targetStatusTable" style="margin: auto; width: 50%;">
        <tr>
            <td><b>Target Name</b></td><td><b>Status</b></td>
        </tr>
    </table>

    @Html.Hidden("myTurn")
    @Html.Hidden("victory", "true")

</div>