@{
    ViewData["Title"] = "Home Page";
}
@section scripts
{
    <script src="~/js/index.js" type="text/javascript"></script>
    <script>
        $(document).ready(function () {
            initGrid(document.getElementById("gridCanvas"))
        });
    </script>
}

<div class="text-center">
    <canvas id="gridCanvas" width="640" height="480" onclick="fire('gridCanvas', event.clientX, event.clientY)">
        <p>Your browser doesn't support this feature! Please update to the latest version of Chrome or Firefox.</p>
    </canvas>
</div>