@{
    ViewData["Title"] = "Home Page";
}
@section scripts{
    <!--Google Platform Library-->
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    
    <link rel="stylesheet" href="~/css/index.css" />

    <script>
        function joinGame() {
            //get the user ids from string usernames
            let user1 = 0;
            let user2 = 0;

            $.get("/Home/GetUserIdFromUsername?username=" + thisUsername, function (data) {
                let response = JSON.parse(data);

                user1 = response.id;

                $.get("/Home/GetUserIdFromUsername?username=" + document.getElementById("usernameInput").value, function (data) {
                    let response = JSON.parse(data);

                    user2 = response.id;

                    if (user1 != 0 && user2 != 0) {

                        //get the game id
                        $.post("/Home/GetGame?" + "userId1=" + user1 + "&userId2=" + user2, function (data) {
                            let response = JSON.parse(data)

                            let gameId = response.id

                            //get the game page
                            window.location.href = window.location.href + "Home/Game?id=" + gameId + "&player1Id=" + user1 + "&player2Id=" + user2;
                        })
                    }
                }).fail(function () {
                    alert("User 2 not found!");
                })
            }).fail(function () {
                alert("User 1 not found!")
            })
        }

        var thisProfile = null;
        var thisUsername = "";
        var isGuest = false;

        function googleSignIn( googleUser ) {
            thisProfile = googleUser.getBasicProfile()
            //need to verify the user's ID on the server
            $.post("/Home/VerifyToken?token="+ googleUser.getAuthResponse().id_token, function () {
                console.log(thisProfile.getName(), "signed in")

                //after successful sign in, update page

                //get username
                $.get("/Home/GetUsername?email=" + thisProfile.getEmail(), function (data) {
                    let response = JSON.parse(data)

                    document.getElementById("usernameSpan").innerHTML = response.username
                    document.getElementById("emailSpan").innerHTML = thisProfile.getEmail()

                    let winLoss = 0;
                    if (response.losses != 0) {
                        winLoss = wins / losses
                    }
                    document.getElementById("winLossSpan").innerHTML = winLoss
                    thisUsername = response.username;

                    //add button to change username
                    let span = document.getElementById("usernameSpan")
                    let btn = document.createElement("button")
                    //<button id="showUsernameInputBtn" type="button" onclick="showUsernameInput()">Change</button>
                    btn.setAttribute("type", "button")
                    btn.setAttribute("onclick", "showUsernameInput()")
                    btn.innerHTML = "Change"

                    span.appendChild(btn);
                })
                
                let signInDiv = document.getElementById("signInDiv")
                signInDiv.style.visibility = "hidden"
                signInDiv.style.width = "0px"
                signInDiv.style.height = "0px"
                document.getElementById("authenticatedDiv").style.visibility = "visible"



            }).fail(function () {
                alert("Error: invalid token")
            });
        }

        function signOut() {
            console.log("signed out")
            if (!isGuest) {
                var auth2 = gapi.auth2.getAuthInstance();
                auth2.signOut().then(function () {
                    console.log('User signed out.');
                });
            } else {
                //delete guest user from db
                deleteUser(thisUsername)
                thisUsername = null
            }
        }

        function deleteUser(username) {
            username = encodeURIComponent(username);
            $.post("/Home/DeleteUser?username=" + username).then(function () {
                window.location.href = window.location.href.substring(0, window.location.href.indexOf(window.location.pathname));
            });
        }

        function guestSignIn() {
            //create a user ID like Guest#0000
            console.log("signing in as guest")
            $.get("/Home/CreateGuest", function ( data ) {
                let response = JSON.parse(data)

                console.log(response.username)

                thisUsername = response.username

                console.log("this username: ", thisUsername)

                document.getElementById("usernameSpan").innerHTML = thisUsername

                
                let signInDiv = document.getElementById("signInDiv")
                signInDiv.style.visibility = "hidden"
                signInDiv.style.width = "0px"
                signInDiv.style.height = "0px"
                document.getElementById("authenticatedDiv").style.visibility = "visible"

                isGuest = true;


                
            })
        }

        function showUsernameInput() {
            console.log("showing username input")
            document.getElementById("showUsernameInputBtn").visibility = "hidden"
            let span = document.getElementById("usernameSpan")

            let usernameInput = document.createElement("input")
            usernameInput.placeholder = span.innerHTML

            let usernameInputButton = document.createElement("button")
            usernameInputButton.type = "button"
            usernameInputButton.setAttribute('onclick', 'updateUsername()')
            usernameInputButton.innerHTML = "Update"

            span.innerHTML = ""

            span.appendChild(usernameInput)
            span.appendChild(usernameInputButton)
        }

        function updateUsername() {
            console.log("updating username")

            let newUser = document.getElementById("usernameSpan").firstChild.value

            $.post("/Home/UpdateUsername?email=" + thisProfile.getEmail() + "&value=" + newUser)
        }
    </script>
}
@model ConnectionModel

<div class="text-center">

    <h1>Welcome to the home page!</h1>

    <!--Google client ID-->
    <meta name="google-signin-client_id" content="352557329008-j4fb9ih06405e217hrbns901fkhlpif2.apps.googleusercontent.com">
    <div id="signInDiv" class="text-center">
        <h2>Login is required to proceed:</h2>
        <div class="g-signin2" data-onsuccess="googleSignIn"></div><br />
        <p><i>Only your email address will be stored.</i></p>
        <br /><br />
        Or <a href="#" onclick="guestSignIn()">continue as guest.</a>
    </div>

    <div id="authenticatedDiv" style="visibility: hidden">
        <!--<h2>You are signed in as <span id="usernameSpan"></span></h2>-->

        Create or join game with <input type="text" id="usernameInput" placeholder="Enter username" />
        <button type="button" onclick="joinGame()">Join</button>
        <br /><br />
        <form>
            <button type="button" onclick="signOut()">Sign Out</button>
        </form>
        
        User Profile:<br />
        Username: <span id="usernameSpan"></span> <br />
        Email: <span id="emailSpan"></span><br />
        Win/Loss: <span id="winLossSpan"></span>
    </div>

</div>