@{
    ViewData["Title"] = "Home Page";
}
@section scripts
{
    <!--stylesheets-->
    <link rel="stylesheet" type="text/css" href="~/css/index.css" />
    <script src="~/js/index.js" type="text/javascript"></script>
    <script>
        $(document).ready(function () {
            initGrid(document.getElementById("gridCanvas"))
            $.post("/Home/Attack", function (data) {
                let result = JSON.parse(data);
                let shipList = result.board
                drawShips(document.getElementById("gridCanvas"), shipList)
            })
        });

        function fire(gridCanvasId, x, y) {
            let grid = getGridSquareAt(gridCanvasId, x, y)
            /*
            $.post("/Home/Test", function (data) {
                ships = JSON.parse(data)
                console.log(ships)

                for (k in Object.keys(ships)) {
                    for (p in Object.keys(ships[k]["HitPoints"])) {
                        let point = ships[k]["HitPoints"][p];
                        if (point[0] == grid.gridX && point[1] == grid.gridY) {
                            if (ships["DamageIndex"][p]) {
                                $("#resultsH2").html = "Already damaged."
                            } else {
                                $("#resultsH2").html = "Hit!"
                            }
                            return;
                        }
                    }
                }
                $("#resultsH2").html = "Miss."
            })
            */
            $.post("/Home/Attack?x=" + grid.gridX + "&y=" + grid.gridY, function (data) {
                let result = JSON.parse(data);

                //check for hit or miss
                if (result.hit == 1) {
                    $("#resultsH2").text("Hit!")
                } else {
                    $("#resultsH2").text("Miss.")
                }
            })
        }
    </script>
}
@model BattleshipModel

<div class="text-center">
    <canvas id="gridCanvas" width="640" height="480" onclick="fire('gridCanvas', event.clientX, event.clientY)">
        <p>Your browser doesn't support this feature! Please update to the latest version of Chrome or Firefox.</p>
    </canvas>

    <h2 id="resultsH2">Click on the grid to attack!</h2>
</div>