@{
    ViewData["Title"] = "Home Page";
}
@section scripts{
    <script>
        function joinGame() {
            let user1 = document.getElementById("user1").value
            let user2 = document.getElementById("user2").value

            //get the game id
            $.post("/Home/GetGame?" + "userId1=" + user1 + "&userId2=" + user2, function (data) {
                let response = JSON.parse(data)

                let gameId = response.id

                //get the game page
                window.location.href = window.location.href + "Home/Game?id=" + gameId + "&player1Id=" + user1 + "&player2Id=" + user2;
            })

            
        }
    </script>
}
@model ConnectionModel

<div class="text-center">

    <h1>Welcome to the home page!</h1>

    <form>
        I am user <input type="number" placeholder="ID" id="user1"/> and I want to join a game with user 
        <input type="number" placeholder="ID" id="user2"/>.
        <br />
        <button type="button" onclick="joinGame()"}>Join</button>
    </form>
</div>