@{
    ViewData["Title"] = "Home Page";
}
@section scripts{
    <!--Google Platform Library-->
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    
    <script>
        function joinGame() {
            //let user1 = thisUserId
            //let user2 = document.getElementById("usernameInput").value
            let user1 = document.getElementById("user1").value
            let user2 = document.getElementById("user2").value

            //get the game id
            $.post("/Home/GetGame?" + "userId1=" + user1 + "&userId2=" + user2, function (data) {
                let response = JSON.parse(data)

                let gameId = response.id

                //get the game page
                window.location.href = window.location.href + "Home/Game?id=" + gameId + "&player1Id=" + user1 + "&player2Id=" + user2;
            })
            
        }

        var thisUserId = 0;

        function googleSignIn( googleUser ) {
            let profile = googleUser.getBasicProfile()
            //need to verify the user's ID on the server
            $.post("/Home/VerifyToken?token="+ googleUser.getAuthResponse().id_token, function () {
                console.log(profile.getName(), "signed in")

                //after successful sign in, update page
                document.getElementById("usernameSpan").innerHTML = profile.getName()
                document.getElementById("signInDiv").style.visibility = "hidden"
                document.getElementById("authenticatedDiv").style.visibility = "visible"
            }).fail(function () {
                alert("Error: invalid token")
            });
        }

        function googleSignOut() {
            console.log("signed out")
            var auth2 = gapi.auth2.getAuthInstance();
            auth2.signOut().then(function () {
                console.log('User signed out.');
            });
        }
    </script>
}
@model ConnectionModel

<div class="text-center">

    <h1>Welcome to the home page!</h1>

    <!--
    <form>
        I am user <input type="number" placeholder="ID" id="user1" /> and I want to join a game with user
        <input type="number" placeholder="ID" id="user2" />.
        <br />
        <button type="button" onclick="joinGame()">Join</button>
    </form>
    -->

    <!--Google client ID-->
    <meta name="google-signin-client_id" content="352557329008-j4fb9ih06405e217hrbns901fkhlpif2.apps.googleusercontent.com">
    <div id="signInDiv">
        <h2>Login is required to proceed:</h2>
        <div class="g-signin2" data-onsuccess="googleSignIn"></div>
    </div>

    <div id="authenticatedDiv" style="visibility: hidden">
        <h2>You are signed in as <span id="usernameSpan"></span></h2>

        Create or join game with <input type="text" id="usernameInput" placeholder="Enter Google username" />
        <button type="button" onclick="joinGame()">Join</button>
        <br /><br />
        <form>
            <button type="submit" onclick="googleSignOut()">Sign Out</button>
        </form>
    </div>

</div>