@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="text-center">
    <h1>@ViewData["Title"]</h1>
    Battleship will not store or request any personal information aside from your email address should you choose to use Google sign in.<br />
    Said email address will only be used for a unique identifier in our database. Battleship will not send you any email messages.<br />
    <br />
    Full game functionality will still be available for users who do not choose to use Google sign in (simply click "Continue as guest").
</div>
